@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --clr-primary: black;
  --clr-bg: white;
  --clr-fade: #6C6C6C;
  --clr-accent: #6565FF;

  --fs-xl: clamp(3.5rem, 3vw, 12rem);
  --fs-heading: 1.75rem;
  --fs-body: 1rem;
  --fs-body2: 0.8rem;
}

* {
  margin: 0px;
  font-family: "Roboto";
}

body {
  padding: 0px 40px;
  background-color: var(--clr-bg);
}

.Terminal-code {
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.body {
  margin: 0 auto;
  max-width: 50rem;
  padding: 6.25rem 17%;
}

/* FONTS */

.page-title {
  font-size: var(--fs-heading);
  color: var(--clr-primary);
  margin-bottom: 0.4rem;
  /* font-weight: 500; */
}

.page-subtitle {
  margin-bottom: 1.6rem;
  font-size: var(--fs-body);
  color: var(--clr-fade);
    margin-bottom: 48px;
}

.card-subtitle {
  font-size: var(--fs-body2);
  color: var(--clr-primary);
  font-weight: 300;
}

.selected {
  font-size: var(--fs-body);
  color: var(--clr-bg);
  font-weight: 500;
}

.card-1-main {
  font-size: var(--fs-xl);
  color: var(--clr-primary);
  font-weight: 500;
}

.card-2-main {
  font-size: var(--fs-body2);
  color: var(--clr-fade);
  font-weight: 300;
  margin-top: 20px;
}

.ms{
  text-align: center;
  color: var(--clr-fade);
  font-size: var(--fs-body2);
}

.logo{
  margin-bottom: 48px;
}

.highlight{
  font-weight: 500;
}

/* Cards */

.card-common{
box-shadow: 0px 0px 24px rgba(149, 157, 165, 0.2);
border-radius: 20px;
padding: 20px 24px ;
}

.row-1-card{
height: 240px;
position: relative;
flex-grow: 1;
}

/* Main */
.analytics{
  display: flex;
}

.left-pane{
  padding: 60px 0;
}

.divider{
width: 1px;
height: 195vh;
margin: 0 40px;

background: rgba(0, 0, 0, 0.1);
}

.right-pane{
  padding: 60px 0;
}

.row-1{
  display: flex;
  margin-bottom: 32px;
}

.card-flex{
  display: flex;
  align-items: center;

}

.card-icon{
  margin-right: 16px;
}

.absolute-center{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.row-2{
  display: flex;
  margin-bottom: 32px;
}

.row-2-card{
  height: 334px;
  flex-grow: 1;
}

.expand-child{
  flex:0 0 auto;
}

.row-3-card{
  height: 400px;
}

.bar-graph{
  width: 784px;
}

.spacer{
  margin-right: 32px;
}

.left-pane-tab{
  display: flex;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.selected{
  background-color: var(--clr-accent);
  width: 200px;
}

.tab-icon{
  margin-right: 12px;
}

/* Charts */

.meter-chart{
  position: absolute;
}

.absolute-text{
  position: absolute;
}

.loading{
  position: absolute;
  top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}